@media (min-width: @tablet-width), (min-width: @desktop-width) {
  .attractions {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
}

.attractions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.attractions__item {
  @media (min-width: @desktop-width) {
    flex-basis: 25%;
  }
}

.attractions__label {
  .font(18px; 700);
  text-transform: none;
  color: @text-color-main;
}
