@media (min-width: @tablet-width), (min-width: @desktop-width) {
  .contacts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts .feedback__legend {
    min-width: 100%;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .contacts__wrapper--phone-phield span {
    .visually-hidden;
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;

  @media (max-width: @mobile-width-only) {
    &:last-child::after {
      content: "";
      position: absolute;
      background-color: @button-disabled-background;
      width: 320px;
      height: 1px;
      bottom: -1px;
      left: -20px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    margin-bottom: 0;
    flex-basis: 480px;
  }
}

.contacts__label {
  text-align: left;
  margin-bottom: 7px;
  padding-left: 22px;

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-left: 0;
  }
}
