@media (min-width: @tablet-width), (min-width: @desktop-width) {
  .emotions {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
  }
}

.emotions__field {
  .font(18px; 700);
  text-transform: none;
  color: @text-color-main;
}
