.feedback {
  padding-top: 35px;
  padding-bottom: 25px;
}

.feedback__slogan {
  .font(18px; 700);
  color: @text-color-main;
  margin-bottom: 29px;
}

.feedback__intro {
  .font(@line-height: 24px);
  margin-bottom: 20px;
}

.feedback__fieldset {
  border: none;
}

.feedback__legend {
  .font(18px; 700);
  color: @text-color-main;
  margin-top: 20px;
}

.feedback__input {
  &--text {
    .font(18px; 700);
    background-color: @input-background;
    border: none;
    outline: none;
    color: @text-color-main;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 20px 16px 21px;

    &:hover {
      background-color: @input-hover-background;
    }

    &:focus {
      background-color: @input-focus-background;
      box-shadow: inset 0 0 0 4px @input-hover-background;
    }

    &::placeholder {
      color: @text-color-main;
      .font(18px; 700);
    }
  }
}
