.feedback {
  padding-top: 35px;
  padding-bottom: 25px;

  @media (max-width: @mobile-width-only) {
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: auto;
  }
}

@media (min-width: @tablet-width) {
  .feedback__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 339px 278px 167px 396px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 339px 181px 167px 396px;
  }
}

.feedback__slogan {
  .font(18px; 700);
  color: @text-color-main;
  margin-bottom: 29px;
}

.feedback__intro {
  .font(@line-height: 24px);
  margin-bottom: 20px;
}

.feedback__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.feedback__legend {
  .font(18px; 700);
  color: @text-color-main;
  margin-top: 20px;
}

.feedback__input {
  &--text {
    .font(18px; 700);
    background-color: @input-background;
    border: none;
    outline: none;
    color: @text-color-main;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 20px 16px 21px;

    &:hover {
      background-color: @input-hover-background;
    }

    &:focus {
      background-color: @input-focus-background;
      box-shadow: inset 0 0 0 4px @input-hover-background;
    }

    &::placeholder {
      color: @text-color-main;
      .font(18px; 700);
    }
  }
}
