.page-header {
  position: relative;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 56px;
  }
}

.page-header__logo {
  display: block;
  position: absolute;
  transform: translateX(107%);
  width: 102px;
  height: 84px;

  @media (max-width: @mobile-width-only) {
    &--menu-opened {
      transform: translate(107%, 264%);
    }
  }

  @media (min-width: @tablet-width) {
    transform: translateX(326%);
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 97px;
    transform: translateX(271%);
  }
}

.page-header__logo-image {
  width: 100%;
}
