.photo-item__caption {
  .font(14px; 700; 24px);
  color: @text-color-main;
}

.photo-item__author {
  .font(@line-height: 24px);
  text-transform: none;
}

.photo-item__like-button {
  cursor: pointer;
  background: url("../img/icon-like.svg") 100% 100% no-repeat;
}

.photo-item__likes-counter {
  .font(14px; 700; 24px);
  color: @text-color-main;
}
