.search-hotel {
  padding-top: 35px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.search-hotel__title {
  .font(21px; 700);
  color: @text-color-main;

  @media (max-width: @mobile-width-only) {
    display: block;
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.search-hotel__description {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 28px;
    line-height: 24px;
    padding: 0 16px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 26px;
  }
}

.search-hotel__description br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.search-hotel__instruction {
  .font(@line-height: 24px);
  margin-bottom: 28px;
  padding-left: 30px;
  padding-right: 29px;
}
