.social {
  .list-style-none;
}

.social__link {
  background-color: @background-color-main;

  &:hover {
    background-color: @social-hover-background;
  }

  &:active {
    background-color: @social-down-background;
  }
}
